/* ------------------------------
   GLOBAL BASE STYLES (Mobile First)
--------------------------------*/
h1 {
  color: white;
  font-family: Bilbo;
  font-size: 60px;
  margin: 1.5rem;
  padding: .5rem;
}

h2 {
  color: white;
  font-family: Bilbo;
  font-size: 45px;
  text-align: center;
  
}

body {
  background-color: #1e2141;
}

nav a {
  color: white;
  font-family: Caudex;
  margin: .7rem;
  padding: .6rem;
  
}

p {
  color: white;
  font-family: Caudex;
}
